.footer {
  border-top: 1px solid grey;
  margin-top: 30px;
  height: auto;
  background-color: #f7f7f2;
}

.upper-footer {
  height: 100px;
  width: 80%;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.sign-up-for-email {
  width: 40%;
  /* border: 1px solid red; */
}

.sign-up-for-email p:nth-child(1) {
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.sign-up-for-email p:nth-child(2) {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 20px;
}

.input-singn-up {
  width: 48%;
  /* border: 1px solid red; */
}

.input-btn-field {
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
}

.input-field {
  height: 45px;
  width: 60%;
  border: 1px solid black;
}

.input-field input {
  height: 100%;
  width: 100%;
  border: none;
}

.input-btn {
  height: 45px;
  width: 25%;
  /* border: 1px solid red; */
}

.input-btn button {
  height: 100%;
  width: 100%;
  background-color: #4b5666;
  border: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-left: -20px;
}

.lable {
  margin-left: 25px;
  margin-bottom: 5px;
}

.random-text {
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

.random-text p {
  font-size: 13px;
  font-weight: 300;
}

.random-text p span {
  color: teal;
  text-decoration: underline;
}

/* Lower-footer */

.lower-footer {
  height: auto;
  width: 80%;
  /* border: 1px solid red; */
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin-top: 26px;
  padding-bottom: 120px;
}

.lower-footers {
  height: auto;
  width: 100%;
  /* border: 1px solid blueviolet; */
}

.lower-footers p {
  font-size: 13px;
  margin-top: 17px;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
}

.lower-footers p:nth-child(1) {
  font-weight: 600;
  cursor: default;
}

.lower-footers p:hover {
  text-decoration: underline;
}

.lower-footers p:nth-child(1):hover{
    text-decoration: none;
}

.lower-footers .store-location {
  display: flex;
  height: 30px;
  /* border: 1px solid red; */
  align-items: center;
  padding: 5px;
  margin-top: 11px;
}

.lower-footers .store-location p {
  margin-top: -5px;
  color: teal;
  font-weight: 500;
  margin-left: 10px;
}
