.footer {
  border-top: 1px solid grey;
  margin-top: -20px;
  height: auto;
  background-color: #f7f7f2;
}

.upper-footer {
  height: 100px;
  width: 80%;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.sign-up-for-email {
  width: 40%;
  /* border: 1px solid red; */
}

.sign-up-for-email p:nth-child(1) {
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.sign-up-for-email p:nth-child(2) {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 20px;
}

.input-singn-up {
  width: 48%;
  /* border: 1px solid red; */
}

.input-btn-field {
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
}

.input-field {
  height: 45px;
  width: 60%;
  border: 1px solid black;
}

.input-field input {
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 15px;
}

.input-field input:focus {
  outline: none;
}

.input-btn {
  height: 45px;
  width: 25%;

  /* border: 1px solid red; */
}

.input-btn button {
  height: 100%;
  width: 100%;
  background-color: #4b5666;
  border: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-left: -20px;
  cursor: pointer;
}

.lable {
  margin-left: 25px;
  margin-bottom: 5px;
}

.random-text {
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

.random-text p {
  font-size: 13px;
  font-weight: 300;
}

.random-text p span {
  color: teal;
  text-decoration: underline;
  cursor: pointer;
}

/* Lower-footer */

.lower-footer {
  height: auto;
  width: 80%;
  /* border: 1px solid red; */
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin-top: 26px;
}

.lower-footers {
  height: auto;
  width: 100%;
  /* border: 1px solid blueviolet; */
}

.lower-footers p {
  font-size: 13px;
  margin-top: 17px;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
}

.lower-footers p:nth-child(1) {
  font-weight: 600;
  cursor: default;
}

.lower-footers p:hover {
  text-decoration: underline;
}

.lower-footers p:nth-child(1):hover {
  text-decoration: none;
}

.lower-footers .store-location {
  display: flex;
  height: 30px;
  /* border: 1px solid red; */
  align-items: center;
  padding: 5px;
  margin-top: 11px;
}

.lower-footers .store-location p {
  margin-top: -5px;
  color: teal;
  font-weight: 500;
  margin-left: 10px;
}

.social-media {
  height: auto;
  width: 30%;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socials {
  color: teal;
  cursor: pointer;
}

.socials:hover {
  color: black;
}

.hero-banner {
  width: 80%;
  height: 100px;
  margin: auto;
  margin-top: 30px;
}

.hero-banner img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.countries {
  height: auto;
  width: 20%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-top: 30px;
  /* border: 1px solid red; */
}


.countries > .country p {
  cursor: pointer;
}

.countries > .country:nth-child(5) {
  width: 17%;
  /* border-right: 1px solid gray; */
}

.country p {
  font-size: 13px;
  text-align: center;
}

.copy-right {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  margin-top: 70px;
  justify-content: space-between;
  padding-bottom: 20px;
}

.copy-right-left {
  width: 50%;
  height: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}

.vertical-bar {
  display: flex;
  height: auto;
  margin-top: -2.5px;
}

.vertical-bar p {
  color: lightgray;
}

.copy-right-left li {
  list-style-type: none;
  font-size: 13px;
  color: teal;
  cursor: pointer;
}

.copy-right-left li:hover {
  text-decoration: underline;
}

.copy-right-left li:last-child {
  color: black;
}

.copy-right-right {
  height: auto;
  width: 25%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row-reverse;
}

.copy-right-right p {
  color: gray;
  font-size: 13px;
}

@media screen and (max-width: 760px) {
  .upper-footer {
    width: 95%;
  }

  .sign-up-for-email {
    width: 50%;
    /* border: 1px solid red; */
  }

  .input-singn-up {
    width: 50%;
    /* border: 1px solid red; */
  }

  .input-field {
    height: 35px;
    width: 60%;
    border: 1px solid black;
  }

  .input-btn {
    height: 35px;
    width: 20%;
    margin-right: -15px;
  
    /* border: 1px solid red; */
  }

  .random-text {
    width: 80%;
    margin-left: 15px;
    margin-bottom: 40px;
  }

  .lower-footer {
    height: auto;
    width: 98%;
    border: 1px solid red;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-top: 26px;
  }

  .social-media {
    height: auto;
    width: 40%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .countries {
    height: auto;
    width: 40%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 30px;
    border: 1px solid red;
  }

  .copy-right {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    margin-top: 70px;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .copy-right-left li {
    list-style-type: none;
    font-size: 8px;
    color: teal;
    cursor: pointer;
  }

  .copy-right-right p {
    color: gray;
    font-size: 9px;
  }

}
