.homepage {
  position: relative;
  height: auto;
  top: 200px;
  /* border: 1px solid red; */
}

.banner-homepage {
  height: auto;
  width: 95%;
  margin: auto;
  margin-top: 30px;
  cursor: pointer;
}

.banner-homepage img {
  height: 100px;
  width: 100%;
}

.shop-by-pics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 95%;
  height: auto;
  margin: auto;
  gap: 20px;
  column-gap: 40px;
  /* border: 1px solid red; */
  margin-top: 20px;
}

.shop-by-pics > div {
  height: 600px;
  cursor: pointer;
}

.shop-by-pics > div > img {
  height: 600px;
  width: 100%;
}

.big-banner {
  height: 650px;
  width: 95%;
  margin: auto;
  position: relative;
  margin-bottom: 40px;
}

.big-banner .image-homepage img {
  height: 650px;
  width: 100%;
  cursor: pointer;
}

.image-homepage {
  position: absolute;
  width: 100%;
}

.button-homepage {
  display: flex;
  position: relative;
  width: 25%;
  margin: auto;
  left: 40px;
  top: 580px;
}

.button-homepage button {
  width: 100%;
  height: 45px;
  background-color: #fdfdf9;
  border: none;
  font-weight: 100;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.button-homepage button:hover {
  text-decoration: underline;
}

.small-banners {
  height: 600px;
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.small-banners .small-banner {
  height: 600px;
  width: 100%;
  /* border: 1px solid red; */
  position: relative;
}

.small-banner .image-small-banner img {
  height: 600px;
  width: 100%;
}

.image-small-banner {
  position: absolute;
  cursor: pointer;
}

.button-small-banner {
  width: 25%;
  position: relative;
  margin: auto;
  top: 540px;
}

.button-small-banner > button {
  width: 100%;
  height: 40px;
  background-color: #fdfdf9;
  border: none;
  font-weight: 100;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.small-banner:nth-child(3) .button-small-banner {
  width: 55%;
}

/* //////////////////////////////////// */

.you-may-also-like {
  width: 95%;
  margin: auto;
  height: auto;
  /* border: 1px solid rebeccapurple; */
  margin-top: 30px;
}

.heading-you-may-also-like {
  width: 100%;
}

.heading-you-may-also-like p {
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.heading-you-may-also-like hr {
  color: red;
}

/* /////////////// */
.trending-now {
  width: 95%;
  margin: auto;
  height: auto;
  /* border: 1px solid rebeccapurple; */
  margin-top: 30px;
}
.heading-trending-now {
  width: 100%;
}

.heading-trending-now p {
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

/* more-to-explores */

.more-to-explores {
  height: auto;
  width: 95%;
  margin: auto;
  /* border: 1px solid red; */
  margin-top: 80px;
}

.heading-more-to-explore {
  width: 20%;
  /* border: 1px solid red; */
  margin: auto;
  margin-bottom: 15px;
}

.heading-more-to-explore p {
  font-weight: 100;
  font-family: "Alegreya", sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-align: center;
}

.more-to-explore-image {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 40px;
}

.explore-image {
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
}

.explore-image div img {
  width: 100%;
  height: 480px;
  margin-bottom: 20px;
  cursor: pointer;
}

.explore-image div p:nth-child(1) {
  font-weight: 100;
  font-family: "Alegreya", sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.explore-image div p:nth-child(2) {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 23px;
  margin-bottom: 10px;
}

.explore-image div p:nth-child(3) {
  font-size: 14px;
  color: teal;
  text-decoration: underline;
}

.explore-image div p:nth-child(3):hover {
  text-decoration: none;
  cursor: pointer;
}

.details {
  height: auto;
  width: 95%;
  margin: auto;
  /* border: 1px solid red; */
  margin-top: 60px;
}

.apply {
  height: auto;
  width: 20%;
  /* border: 1px solid red; */
  margin: auto;
  margin-bottom: 60px;
}

.apply p {
  text-align: center;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 1px;
}

.apply p span {
  text-decoration: underline;
  cursor: pointer;
}

.about {
  height: auto;
  width: 100%;
  margin-top: 20px;
  /* border: 1px solid red; */
}

/* code is in ReadMore.jsx file */
.about .about-heading p {
  font-size: 20px;
  margin-bottom: 20px;
}

.about .about-para p {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 23px;
  margin-bottom: 10px;
}

.about .about-para button {
  border: none;
  background-color: #fff;
  color: teal;
  text-decoration: underline;
}
